@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 42px 50px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ai-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-primary {
  background: #e02c6d;
  padding: 10px 24px;
  font-weight: 500;
  display: inline-block;
  font-size: 16px;
}

.bg-header {
  background: #2d25a0;
}

.header {
  font-weight: 500;
  font-size: 16px;
}

.header a {
  color: #fff;
}

.header li {
  margin: 0 36px;
}

.header-content {
  padding: 67px 0;
}

.header-contents h1 {
  width: 485px;
  height: 230px;
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
  color: #ffffff;
}

.header-contents .btn-primary {
  margin-top: 27px;
}

.header-thumbnail {
  display: inline-block;
}

.header-thumbnail img {
  width: 556.01px;
  height: 438px;
}

.header-thumbnail img:hover {
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
}

.player-card {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  padding: 15px 15px 33px 15px;
}

.player-card img {
  width: 300px;
  height: 256px;
  margin: 15px 0px;
}

.player-card-heading {
  margin-top: 16px;
  margin-bottom: 10px;
}

.player-card-content {
  color: #6c6c6c;
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 33px;
}

.players-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 27px;
}

.highlights {
  margin: 165px 0;
}

.highlights-content h1 {
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  color: #0a0826;
  width: 469px;
  height: 120px;
}

.highlights-content p {
  width: 404px;
  height: 113px;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #6c6c6c;
}

.highlights-content a {
  color: #ffffff;
}

.highlights-image {
  width: 567px;
  height: 427px;
}

footer {
  width: 483.87px;
  height: 213px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  margin: 0 auto;
  text-align: center;
}

footer .footer-icons {
  padding: 20px 0;
}

footer .fab {
  background: #e7e7e8;
  color: #969bab;
  margin: 0px 14px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.gallery {
  text-align: center;
}

.gallery h2 {
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  color: #0a0826;
  margin-bottom: 20px;
}

.gallery-image {
  max-width: 30vw;
  max-height: 50vh;
  padding: 0 30px;
}

.teams h2 {
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  color: #0a0826;
  margin-bottom: 20px;
}

.teams-image {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.team-image {
  max-width: 300px;
  max-height: 300px;
}

@media screen and (max-width: 688px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }
  .flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-menu {
    display: none;
  }
  .header-contents h1 {
    font-size: 32px;
    width: 50vw;
  }
  .header-thumbnail img {
    width: 70vw;
  }
  .players-cards {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .highlights {
    font-size: small;
  }
  .highlights-content h1,
  .highlights-content p {
    font-size: 16px;
    width: 100vw;
  }
  .highlights-image {
    margin-top: 20px;
    width: 80vw;
  }
  .gallery-image {
    max-width: 100vw;
    max-height: 100vh;
  }
}
/*# sourceMappingURL=style.css.map */